body {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #1d1d1d;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 0;
}

img {
    width: 100px;
}

header {
    width: 100%;
    padding: 20px 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header i{
    width: 35px;
    cursor: pointer;
    display: inline-block;
}

header i img {
    width: 100%;
}

.banner {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/OIP.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position-y: 60%;
}

.banner h2{
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
}

.banner p {
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    opacity: 0.7;
}

.products {
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products article {
    cursor: pointer;
    text-align: center;
}

.products img {
    width: 200px;
    margin-bottom: 15px;
}

.products h2 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
}

.products p {
    font-weight: 300;
    font-size: 15px;
}

